.oop{
  background-image: url("D:\sft\react\reactjs\src\Images\kkl.jpg"); 
  
  position:absolute;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position:center;
  margin: fixed;
  font-style: italic;
  margin-top: -20px;
  
} 
.container1{
  width:100%;
	height:4000px;
  background:rgba(255,255,255,0.25);
	margin-top: -20px;
	backdrop-filter:blur(0.13px);
	-webkit-backdrop-filter:blur(0.3px);
	
	border:1px solid rgbn(255,255,255,0.13);
	
  
}

.ttt{
 
  color:aliceblue;
  color:aliceblue;

  
}

.button{
  outline: none;
  display: block;
  border: 0;
  font-size: 30px;
  line-height: 0.75;
  padding: 20px 80px;
  border-radius: 30px;
  background: #eff306b6;
  color:azure;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: 'Montserrat',sans-serif;
  margin-left: -1100px;
  margin-top: 10px;
}

.kook  /*6 start human resouse*/
{
  
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family:Calibri;
  
  margin-top: -650px;
  margin-left: 1300px;
  
}

.look  /*5 human resource man */
{
  
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family:Calibri;
  margin-left: 700px;
  margin-top: -650px;

  
}

.uook  /*4marketing */
{
  
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family:Calibri;
  margin-top: 100px;
  margin-left: 100px;
  
}

.took  /*3 orag behavio*/
{
  
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family:Calibri;
  margin-top: -650px;
  margin-left: 1300px;
  
}

.hook   /*2 stra management*/
{
  
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family:Calibri ;
   margin-top: -650px;
  margin-left: 700px;
  
}








.vook /*1management */
{
  
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  font-family: Calibri;

  margin-top: 1200px;
  margin-left: 100px;
  
  
}
.car
{
  position:relative;
  left:-6%;
  width:600px;
  height:650px;
  transition: 0 3s ease-out;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
  

  
}

.car .imgbox
{
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.car .imgbox img
{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:block;
  transition: 0.5s;
}
.car .content
{
  position: absolute;
  left:0;
  bottom: 0;
  width:100%;
  height: 30%;/*color window up increase*/
  padding: 12px;
  background: rgb(241, 201, 21);
 /* background: #f3e309e8;*/
  
  transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 32px;
}

.car:hover  .content
{
  width:100% ;
  height: 75%;
  left:0;
  bottom:0;
}

.content p1
{
  margin: 10px 0 0;
  padding: 0.5em 0.25em;
  transform: translateY(2em);
  line-height: 1.3em;
  transition: 0.3s;
  text-align: justify;
  opacity: 0;
  color: rgba(19, 2, 17, 0.897)
}

.car:hover  .content p1
{
  transform: translateY(0);
  opacity: 1;
}
h2{
  text-align: center;
}
.car:hover
{
  box-shadow: 0 0 5em rgba(0, 0, 0, 0.4);
}
