
.logo{
   
    
    line-height: 75px;
    padding:0px 100px;
    position: fixed;
    z-index:1;
    color: white;
    font-size: 40px;
    letter-spacing: 1.5px;
    margin-top: 5px;
    margin-left: -81px;

}
ul.menu{
    
list-style: none;
    position:relative;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100px;
    overflow: hidden;
    text-size-adjust: 100;
    margin-top: 100;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);

 
}
li.menu{
  
    
}


li a{
   
    float:right;
    padding:25px 50px;
   font-size: 20px;
   text-transform: uppercase;
   color: white;
   text-decoration: none;
   line-height: 50px;
   position:relative;
   display:flex;
   

}
li a:hover{
    color:rgb(212, 133, 14);
}







